<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml ">
<head>
    <meta charset="UTF-8">
    <title>BUYSELL</title>
    <link rel="stylesheet" type="text/css" href="/styles/css/style.css">
<!--    <script src="/webjars/jquery/jquery.min.js"></script>-->
<!--    <script src="/webjars/sockjs-client/sockjs.min.js"></script>-->
<!--    <script src="/webjars/stomp-websocket/stomp.min.js"></script>-->
<!--    <script src="/chat.js"></script>-->

</head>
<body>

<div th:insert="~{fragments/menu :: #nav-menu}"></div>

<hr>

<noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being
    enabled. Please enable
    Javascript and reload this page!</h2></noscript>


</body>
</html>