<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>BUYSELL</title>
</head>
<body>
<h1>BUYSELL</h1><hr>
<h4>Подробная информация о товаре</h4>
<b>Название товара: </b><td th:text="${product.title}"></td><br>
<b>Описание товара: </b><td th:text="${product.description}"></td><br>
<b>Цена: </b><td th:text="${product.price}"></td><br>
<b>Город: </b><td th:text="${product.city}"></td><br>
<b>Автор: </b><td th:text="${product.author}"></td><br>
<hr>
<form th:method="POST" th:action="'/product/delete/' + ${product.id}" >
    <input type="submit" value="Удалить товар"><br><br>
</form>


</body>
</html>